services:
  - class: Utils\PHPStan\MissingTestFileRule
    tags: [phpstan.rules.rule]
    arguments:
      pathMap:
        - sourceDir: /app/src
          testDir: /app/Tests/Unit
        - sourceDir: /app/.qa/phpstan/src
          testDir: /app/.qa/phpstan/tests/RuleTest

  - class: Utils\PHPStan\InterfaceNamespaceRule
    tags: [phpstan.rules.rule]

parameters:
    level: max
    paths:
        - /app/.qa
        - /app/src
        - /app/Tests
        - /app/public
    ignoreErrors:
        - identifier: method.nonObject
          path: /app/Tests/Spec
    excludePaths:
        - /app/.qa/phpstan/tests

    customRulesetUsed: true
