<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="/app/vendor/autoload.php"
         colors="true"
         executionOrder="random"
         resolveDependencies="true"

         stopOnFailure="false"
         stopOnError="false"
         stopOnWarning="false"
         stopOnRisky="false"
         stopOnDeprecation="false"
         stopOnNotice="false"
         stopOnSkipped="false"
         stopOnIncomplete="false"

         failOnWarning="true"
         failOnRisky="true"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="true"
         failOnNotice="true"
         failOnSkipped="true"
         failOnIncomplete="true"

         displayDetailsOnAllIssues="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnPhpunitDeprecations="true"
        >
    <testsuites>
        <testsuite name="PHPUnit Tests">
            <directory>/app/Tests/Unit</directory>
            <exclude>/app/Tests/Unit/Fixtures</exclude>
        </testsuite>
        <testsuite name="Feature Tests">
            <directory>/app/Tests/Feature</directory>
        </testsuite>
        <testsuite name="Behat Tests">
            <directory>/app/Tests/Behat</directory>
        </testsuite>
        <testsuite name="Spec Tests">
            <directory>/app/Tests/Spec</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">/app/src/</directory>
        </include>
    </source>
</phpunit>
